/** @format */

@charset "UTF-8";
html,
body {
  min-width: 448px;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  border: none;
} /*이미지의 원래 사이즈 보다 커지진 않음*/
li {
  list-style: none;
}
/*header*/

.header_wrap,
.title_wrap,
.section_wrap_1,
.section_wrap_2,
.section_2-2 {
  margin: 0px auto;
  width: 80%;
}
.footer_wrap {
}
.header_wrap {
  position: relative;
  z-index: 20;
}
header {
  overflow: hidden;
  margin: 50px 90px;
  position: relative;
  margin-bottom: -130px;
  height: 80px;
}
header > a {
  float: left;
  margin-top: 0px;
  font-size: 12px;
}
header > a > img {
}

header .gnb {
  float: right;
  overflow: hidden;
}
header .gnb li {
  padding: 5px 20px;
  float: left;
  line-height: 1.3;
  background-color: rgba(0, 0, 0, 0.5);
}
header .gnb li a {
  text-decoration: none;
  /* padding: 5px 20px; */
  border-radius: 4px;

  color: white;
  font-size: 12px;
  padding: 14px;
}

input {
  margin-right: 15px;
  vertical-align: top;
  line-height: 1.3;
}
.berger_wrap {
  display: none;
  width: 45px;
  height: 45px;
  border: 1px solid black;

  padding: 0 2.5px;
  border-radius: 5px;
  box-sizing: initial;
  float: right;
  cursor: pointer;
}
.berger {
  display: block;
  background-color: black;
  width: 30px;
  height: 4px;

  position: relative;
  top: 20px;
  margin: auto;
}
.berger::after {
  content: "";
  display: block;
  background-color: black;
  width: 30px;
  height: 4px;
  position: absolute;
  top: 10px;
}
.berger::before {
  content: "";
  display: block;
  background-color: black;
  width: 30px;
  height: 4px;
  position: absolute;
  top: -10px;
}
.title_wrap {
  position: relative;
}
.title_wrap .cover {
}
.title_wrap .cover .img_line {
  display: flex;
  overflow: hidden;
}
.title_wrap .cover .img_line img {
}
/* .title_wrap::after {
  content: "";
  background-image: url("../img/01.jpg");

  display: block;
  width: 1500px;
  height: 1000px;
  position: relative;
  top: -155px;
  z-index: -2;
} */
.title_wrap .word {
  position: absolute;
  color: white;
  font-size: 80px;
  bottom: 190px;
  z-index: 20;

  right: 140px;
}
.title_wrap .word .btn {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-top: 80px;
  margin-bottom: -30px;
}
.title_wrap .word .btn span {
  color: rgb(194, 194, 194);
}
.title_wrap .word #wbtn {
  display: block;
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
  border: 3px solid white;
}
.title_wrap .word div {
  font-size: 20px;
}

.title_wrap .word .t_btn_left::after {
  content: "";
  display: block;
  border: 8px solid white;
  width: 35px;
  height: 35px;
  transform: translateX(20px) rotate(-45deg);
  border-right: none;
  border-bottom: none;
}

.title_wrap .word .t_btn_right::after {
  content: "";
  display: block;
  border: 8px solid white;
  width: 35px;
  height: 35px;
  transform: translateX(5px) rotate(45deg);
  border-left: none;
  border-bottom: none;
}
/*section*/
.section_wrap_1 {
}
.section_wrap_1 {
  margin: auto;
  height: 800px;

  background-color: rgb(255, 255, 255);
}
.section_wrap_1::before {
  content: "";
  display: block;
  background-color: rgb(231, 231, 231);
  height: 50px;
}
.section_wrap_1 .text_wrap::before {
}

.section_wrap_1 .text_wrap {
  text-align: center;
  margin: 100px auto;
  font-size: 40px;
}

.section_wrap_1 section {
  height: 360px;
  margin: auto;
}
.section_wrap_1 .gnb_wrap {
  position: relative;
}
.section_wrap_1 .gnb_new {
  display: flex;
  overflow: hidden;
  gap: 23px;
  background-color: rgb(255, 255, 255);
  height: 400px;
  align-items: center;
  padding-left: 20px;
  position: relative;
}

.section_wrap_1 .gnb_wrap .gnb_new li {
  margin-left: 20px;
}
.section_wrap_1 .gnb_wrap .gnb_new li a {
}
.section_wrap_1 .gnb_new {
}
.section_wrap_1 .gnb_new a {
}
.section_wrap_1 .gnb_new a::before {
  content: "";
  background-image: url("../img/new01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 280px;
  height: 280px;
}
#s_btn {
  display: block;
  border: 8px solid rgb(110, 110, 110);
  width: 80px;
  height: 80px;
  background-color: transparent;
  position: absolute;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}
.s_btn_right {
  top: calc(50% - 35.777px);
  transform: rotate(45deg);
  right: -70px;
}
.s_btn_left {
  transform: rotate(-135deg);
  top: calc(50% - 35.777px);
  left: -70px;
}
/*section2*/

.section_wrap_2 {
  margin-top: 200px;
}
.section_wrap_2 .section2 {
}
.section_wrap_2 .section2 .op_wrap {
  margin-bottom: 20px;
  margin-right: 80px;
}
.section_wrap_2 .section2 .op_gnb {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.section_wrap_2 .section2 .op_gnb > li {
}
.section_wrap_2 .section2 .op_gnb > li > a {
}

/*section2 menu*/
.menu_wrap {
  min-width: 150px;
}
.menu_wrap .menu {
  margin: 0 auto;
  width: 150px;
}
.menu_wrap .menu .menu_sc,
.menu_wrap .menu > li {
  border: 1px solid rgb(211, 211, 211);
  height: 40px;
  text-align: center;

  line-height: 40px;
  border-bottom: none;
  border-right: none;
}
.menu_wrap .menu > li {
}

.menu_wrap .menu > li:first-child {
  border-radius: 5px 0 0 0;
}
.menu_wrap .menu > li:last-child {
  border-bottom: 1px solid rgb(209, 209, 209);
  border-radius: 0 0 0 5px;
}
.menu_wrap .menu .menu_sc {
  display: none;
}
.menu_wrap .menu > li > a {
}
/*section2 main*/
.section2 > .cover {
  display: flex;
  justify-content: space-between;
}

.main_wrap {
  border: 1px solid rgb(212, 212, 212);
  min-width: 448px;
}
.main_wrap .main {
  text-align: center;
}

.main_wrap .main .m_gnb {
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  border-collapse: collapse;
  border-spacing: 0;

  margin: 25px auto;
}
.main_wrap .main .m_gnb > li {
  margin: 20px;
  width: 25%;

  display: inline-block;
}

.main_wrap .main .m_gnb > li > ul {
}
.main_wrap .main .m_gnb > li > ul > li {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  text-align: start;
}
.main_wrap .main .m_gnb > li img {
}
.page_num {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.page_num a {
}
.page_num .num {
}
.page_num .prev {
}
.page_num .naxt {
}

/* footer */
.footer_wrap {
  background-color: rgb(66, 66, 66);
}
.footer_wrap footer {
  display: flex;
  padding: 30px 90px;
  justify-content: space-between;
}
.footer_wrap footer .footer_left {
}
.footer_wrap footer .footer_left p {
  color: rgb(197, 197, 197);
  margin-bottom: 20px;
}
.footer_wrap footer .footer_right > div {
  display: flex;

  gap: 20px;
  margin-left: 50px;
}
.footer_wrap footer .footer_right a {
  display: block;
  width: 50px;
  height: 50px;
}
.footer_wrap footer .footer_right .blog::after,
.footer_wrap footer .footer_right .instar::after,
.footer_wrap footer .footer_right .facebook::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer_wrap footer .footer_right .blog::after {
  background-image: url("../img/blog.svg");
}
.footer_wrap footer .footer_right .instar::after {
  background-image: url("../img/i.svg");
}
.footer_wrap footer .footer_right .facebook::after {
  background-image: url("../img/f.svg");
}
